<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% block  topbar%}
            {% include './layouts/topbar.html' %}
        {% endblock%}
        {% block sidebar %}
            {% include './layouts/sidebar.html' %}
        {% endblock %}
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}
            {% include './layouts/footer.html' %}
        {% endblock %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>


</body>
</html>